/*Top Banner Section*/

.topFixedBanner{
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.8);
}

.topContent{
    margin-top:10rem;
}
.topTitle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 48px;
    color:#ffffff;
}

.topSubtitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 22px;
    color:#ffffff;
}

/*Service Section*/

.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.serviceMainTitle{
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserreat',sans-serif;
    font-size: 28px;
    font-weight: 600;

}



.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.serviceDescription{
    color: #2B2B2B;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.serviceCard:hover{

    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2) ;
}


/*Nav Bar Section*/
.navTitle{
    font-family: 'Montserreat',sans-serif;
    color: #ffffff !important;
    font-size: 24px;
    font-weight: 700;

}

.navTitleScroll{
    font-family: 'Montserreat',sans-serif;
    color: #0073E6 !important;
    font-size: 24px;
    font-weight: 700;

}

.navBarBackground{
    background-color: rgba(00,00,00,0.0) !important;

    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;

}

.navBarBackgroundScroll{
    background-color: #ffffff !important;

    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navItem{
    font-size: 16px;
    font-family: 'Montserreat',sans-serif;
    font-weight: 400;
    color: #ffffff !important;
    text-decoration: none !important;
}

.navItemScroll{
    font-size: 16px;
    font-family: 'Montserreat',sans-serif;
    font-weight: 400;
    color: #000000 !important;
    text-decoration: none !important;
}

/*Technology Section*/

.des{
    font-weight: 400;
    color: #2B2B2B;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
}

/*Summary Section*/

.summarySection{
    margin-top: 5rem;
}

.summaryBanner{
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-size: cover;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0,0,0,0.8);
}

.countNumber{
    font-family: 'Montserrat',SansSerif;
    font-size: 48px;
    color: #ffffff;
    font-weight: 600;
}

.countTitle{
    font-family: 'Raleway',SansSerif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}

.countSection{
    margin-top: 16% !important;
}

.cardTitle{
    text-align: justify!important;
    font-family: 'Raleway',SansSerif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.cardSubTitle{
    font-family: 'Montserrat',SansSerif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: justify!important;
}

.iconBullet{
    font-size: 16px;
    color: #0073E6;
}

.workCard{
    margin-top: 15%;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

/*Recent Project Section*/

.projectCard{
    border-radius: 2px;
    border: none!important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.projectCard:hover{
    border-radius: 2px;
    border: none!important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}

.projectCardTitle{
    font-family: 'Montserrat',SansSerif;
    font-weight: 600;
    font-size: 18px;
}

.projectCardDes{
    font-family: 'Raleway',SansSerif;
    font-weight: 400;
    font-size: 14px;
}

/*Recent Project Section*/
.CourseImage{
    width: 100%;
    margin-bottom: 7px;
}

.courseTitle{
    font-family: 'Montserrat',SansSerif;
    font-weight: 600;
    font-size: 18px;
}

.courseDes{
    font-family: 'Raleway',SansSerif;
    font-weight: 400;
    font-size: 14px;
}

.courseDetails{
    font-family: 'Raleway',SansSerif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #0073E6;
}

.courseDetails:hover{
    text-decoration: none;
}

/*Video Section*/

.videoSection{

}

.videoCard{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    padding:6rem 6rem 6rem 6rem !important;
    background-color: #ffffff;
    margin:50px auto !important;
}

.playBtn{
    color:#0073E6;
    font-size: 48px;
    cursor:pointer;
}

.videoTitle{
    font-family: 'Montserrat',SansSerif;
    font-weight: 600;
    font-size: 22px;
    color:#0073E6;
}

.videoDes{
    font-family: 'Raleway',SansSerif;
    font-weight: 400;
    font-size: 16px;

}

/*Client Review Section*/
.circleImg{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #0073E6;
    border-radius: 50%;
}

/*Footer Section*/
.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.footerDes{
    margin-right: 30px;
}

.socialIcon{
    font-family: 'Raleway',SansSerif;
    font-size: 14px;
    font-weight: 600;
    color: #0073E6;
    text-decoration: none;
}

.socialIcon:hover{
    color: #000000;
    text-decoration: none;
}

.footerLink{
    font-family: 'Raleway',SansSerif;
    font-size: 14px;
    font-weight: 400;
    color: #7F7E7E;
    text-decoration: none;
}

.footerLink:hover{
    color: #0073E6;
    text-decoration: none;
}
.footerAddress{
    color: #7F7E7E;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.copyrightSection{
    padding:20px 20px 20px 20px;
    background-color: #0073E6;
}

.copyrightLink{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat',SansSerif;
    font-weight: 400;
    font-size: 16px;

}

.copyrightLink:hover{
    text-decoration: none;
    color: #000000;


}